@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
@import './varibles.scss';
@import './breakpoints.scss';

body,
html {
  visibility: hidden;
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*a {
  color: $black;
  outline: none;
  text-decoration: none;
}

a:active,
a:visited,
a:hover,
a:focus {
  color: $black;
}

*ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;

  @include media('<=1560px') {
    width: 1280px;
    min-width: 1280px;
  }

  @include media('<=desktop') {
    width: 1080px;
    min-width: 1080px;
  }

  @include media('<=1080px') {
    width: 100%;
    min-width: 100%;
  }

  .row {
    display: flex;
    height: 100%;
    padding: 0 32px;

    @include media('<=phone') {
      padding: 0 16px;
    }
  }

  .v-center {
    align-items: center;
  }

  .space-between {
    justify-content: space-between;
  }
}

main {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}

.page {
  min-height: 90vh;
  background: $gray-gradient;
  display: flex;
  align-items: center;

  .container {
    padding-top: 74px;

    @include media('<=phone') {
      padding-top: 0;
    }
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 3rem;
      line-height: 4.2rem;
      font-weight: 700;
      mix-blend-mode: darken;

      @include media('<=tablet') {
        font-size: 2.4rem;
        line-height: 3rem;
      }

      @include media('<=phone') {
        margin-top: 72px;
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
    }
  }
}

.blur {
  background: $blur;
  border-radius: 10px;
  border: 2px solid $low-white;
  padding: 40px;

  @include media('<=tablet') {
    padding: 20px;
  }
}

.blur p {
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 0;
  color: $black;
}

.stack {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  color: $low-white;
  font-weight: 600;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid $low-white;
    border-radius: 5px;
    background: $blur;
  }
}
