$black: #000000;
$white: #ffffff;
$low-white: rgba(
  $color: #fffffff3,
  $alpha: 0.9,
);
$gray00: rgba(198, 199, 199, 0);
$gray07: rgba(198, 199, 199, 0.7);

$blur: rgba(
  $color: #88888809,
  $alpha: 0.4,
);
$gray-gradient: linear-gradient(
  180deg,
  rgba(198, 199, 199, 1) 16%,
  rgba(18, 18, 18, 1) 73%
);
$dark-gray: linear-gradient(
  180deg,
  rgba(198, 199, 199, 1) 0%,
  rgba(18, 18, 18, 1) 0%
);
